.tags-section {
    margin-top: 20px;
}

.tags-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.tags-section ul {
    list-style-type: none;
    padding: 0;
}

.tags-section li {
    font-size: 1.2em;
    padding: 5px 0;
}
